/* Universal Styles */
@import url('https://fonts.googleapis.com/css?family=Oxygen');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

/* App component */

/* Header Component */

.header {
  width: 100%;
  background-color: white;
  padding: 20px;
}
.nav {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(233,236,239);
  padding-bottom: 20px;
}
.brand-logo {
  color: rgb(36,61,86);
  text-decoration: none;
}
.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.menu-item, .menu-item > a  {
  color: black;
  text-decoration: none;
}
.add-credits {
  background-color: white;
  color: rgb(23,119,222);
  padding: 10px 14px;
  border: 1px solid rgb(153,198,241);
  transition: .3s;
  font-size: 17px;
  width: 100%;
}
.add-credits:hover {
  cursor: pointer;
  transform: scale(1.03);
}

/* Landing */

.emaily {
  font-size: 35px;
  color: rgb(36,61,86);
}
.collect {
  font-size: 20px;
  margin-top: 15px;
  color: #020202;
}

/* Dashboard */

.dashboard {
  width: 80%;
  margin: auto;
}
.add-container {
  align-content: center;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}
.add {
  color: rgb(63,145,228);
  transition: .3s;
}
.add > i {
  font-size: 30px;
}
.add:hover {
  opacity: .8;
}
.survey-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 277px);
  grid-gap: 10px;
}
.card {
  border: 1px solid rgb(245,245,245);
  padding: 10px;
  border-radius: 3px;
  transition: .2s;
}
.card:hover {
  border: 1px solid rgb(153,198,241);
}
.card-title {
  font-size: 18px;
  color: rgb(32,48,61);
  border-bottom: 1px solid rgb(245,245,245);
  padding-bottom: 6px;
}
.card-body {
  color: rgb(23,119,222);
  margin-top: 10px;
}
.date {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(118,119,119);
}
@media(max-width: 769px) {
  .dashboard {
    width: 95%;
  }
  .survey-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* survey/SurveyNew */
.survey-new-container {
  width: 80%;
  margin: auto;
}
@media(max-width: 769px) {
  .survey-new-container {
    width: 95%;
  }
}

/* surveys/SurveyField */
.survey-field-container {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.label {
  font-size: 18px;
  margin-bottom: 5px;
  color: rgb(81,102,123);
}
.input {
  padding: 6px 4px;
  font-size: 18px;
  border-radius: 3px;
  border: none;
  background-color: rgb(245,245,245);
}
.input:focus {
  outline: 0;
}
.error-input {
  color: rgb(23,119,222);
  font-size: 14px;
}
.buttons {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.button-next {
  background-color: rgb(23,119,222);
  color: white;
  padding: 10px 14px;
  border: none;
  font-size: 17px;
}
.button-next:hover {
  cursor: pointer;
}
.button-cancel {
  background-color: rgb(243,36,46);
  color: white;
  padding: 10px 14px;
  border: none;
  font-size: 17px;
  text-decoration: none;
}
.button-cancel:hover {
  cursor: pointer;
}
@media(max-width: 769px) {
  
}
/* surveys/SurveyFormReview */
.survey-form-review-container {
  width: 50%;
  margin: auto;
}
.please-confirm {
  font-size: 20px;
  margin-bottom: 15px;
  color: rgb(32,48,61);
}
.please-confirm:hover {
  cursor: pointer;
}
.label-review {
  font-size: 18px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.data-review {
  color: rgb(36,61,86);
  font-size: 17px;
}
.description {
  display: flex;
}
.buttons-review {
  display: flex;
  justify-content: space-between;
}