/* Universal Styles */
@import url('https://fonts.googleapis.com/css?family=Oxygen');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

/* App component */

/* Header Component */

.header {
  width: 100%;
  background-color: white;
  padding: 20px;
}
.nav {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(233,236,239);
  padding-bottom: 20px;
}
.brand-logo {
  color: black;
  text-decoration: none;
}
.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.menu-item, .menu-item > a  {
  color: black;
  text-decoration: none;
}
.add-credits {
  background-color: white;
  color: rgb(23,119,222);
  padding: 10px 14px;
  border: 1px solid rgb(153,198,241);
  transition: .3s;
  font-size: 17px;
  width: 100%;
}
.add-credits:hover {
  cursor: pointer;
  transform: scale(1.03);
}

/* Landing */

.emaily {
  font-size: 35px;
}
.collect {
  font-size: 20px;
  margin-top: 15px;
  color: #020202;
}

/* Dashboard */

.dashboard {
  width: 80%;
  margin: auto;
}
.add-container {
  align-content: center;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}
.add {
  color: rgb(63,145,228);
  transition: .3s;
}
.add > i {
  font-size: 30px;
}
.add:hover {
  opacity: .8;
}
.survey-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 247px);
  grid-gap: 10px;
}
.card {
  border: 1px solid rgb(233,236,239);
  padding: 10px;
  border-radius: 3px;
}
@media(max-width: 769px) {
  .dashboard {
    width: 95%;
  }
  .survey-container {
    grid-template-columns: repeat(1, 1fr);
  }
}